# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Entornos
.venv/
venv/
env/
ENV/
conda-meta/

# Build / packaging
build/
dist/
*.spec

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
